service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="https://prospective-tool.herokuapp.com" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="https://prospective-tool.herokuapp.com"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://prospective-tool.herokuapp.com">
      <s:element name="ProviderRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="description" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="weight_institution" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="weight_cnbs" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="ProviderSoapIn">
    <wsdl:part name="parameters" element="tns:ProviderRequest"/>
  </wsdl:message>
  <wsdl:message name="ProviderSoapOut">
    <wsdl:part name="parameters" element="tns:ProviderResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="ProviderSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="SaveProvider">
      <wsdl:input message="tns:ProviderSoapIn"/>
      <wsdl:output message="tns:ProviderSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="ProviderSoapBinding" type="tns:ProviderSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaveProvider">
      <soap:operation soapAction="SaveProvider" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="ProviderService">
    <wsdl:port name="ProviderServiceSoapPort" binding="tns:ProviderSoapBinding">
      <soap:address location="https://prospective-tool.herokuapp.com/wsdl?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>